.events-container {
  background-image: url('../../img/deep-space-bg.jpg');
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
  /* Optional: Add some background properties like size and position */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: fixed;
  z-index: -5;
  /* padding-top: 4rem; */
}

.dropdown option{
  background-color:blueviolet;
  color: grey;  
  padding-top: 4rem;
}

/* .planet img {
    position: absolute;
    left:16%;
    top:30%;
    width:20%;
} */


.planet {
  width: 20%;
  position: absolute;
  left: 15%;
  top: 30%;
  transform: translate(-50%, -50%);

  box-shadow: 0 0 50px rgba(255, 255, 255, 0.5), 0 0 100px rgba(255, 255, 255, 0.3), 0 0 150px rgba(255, 255, 255, 0.2);

  border-radius: 50%;
  z-index: 1;
  /* Set a lower z-index for the planet */
}

@media screen and (max-width: 1200px){
  .planet{
    width: 33%;
  }
}

.planet img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.control-btn {
  color: white;
  background-color: red;
  padding: 1rem;
  margin-top: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;

}

.spaceship {
  position: absolute;
  left: 22%;
  /* Adjust the left and top values to position the spaceship as desired */
  top: 18%;
  width: 20%;
  /* Match the size with the planet */
  z-index: 2;
  /* Set a higher z-index for the spaceship to overlap the planet */
}
#options{
  position: relative;
  top: 4rem;
}