section{
    background: linear-gradient(45deg, #000000, #00000000);
}
section > div{
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(#000000,#00000000,#00000000);
}
section > div > h2{
    font-family: 'Sora', sans-serif;
    background: linear-gradient(45deg,#ffffff,#000000, #000000);
    
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.txgradient{
    background: linear-gradient(-45deg,#00c3dd,#00aeff,#ff31ff,#4011e9);
    background-size: 600%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
    display: inline-block;
    animation-name: txcolor;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
@keyframes txcolor {
    0% {      background-position: 100% 0%;    }
    35% {      background-position: 0% 50%;    }
    60% {      background-position: 50% 50%;    }
    100% {      background-position: 100% 0%;    }
}
