.landing{
    background: url('./earth.gif') no-repeat center center / cover;
    background-attachment: fixed;
}
.landing > div{
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Orbitron', sans-serif;
}
.landing > div > h2{
    /* font-family: 'Sora', sans-serif; */
    font-family: 'Orbitron', sans-serif;
    background: linear-gradient(45deg,#ffffff,#ffffff25);
    
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.txgradient{
    /* background: linear-gradient(-45deg,#00c3dd,#00aeff,#ff31ff,#4011e9); */
    background: linear-gradient(-45deg,#c5f8ff,#c1ebff,#ffc6ff,#cfc2ff);
    background-size: 600%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
    display: inline-block;
    animation-name: txcolor;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    font-size: 8vw;
}
.button-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
   }
   
   .btn-gradient {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.5s;
   }
   
   .btn-gradient:hover {
    background: linear-gradient(to right, #0072ff, #00c6ff);
   }
   
   .btn-gradient--color__1 {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
   }
   
   .btn-gradient--color__2 {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
   }
   
@keyframes txcolor {
    /* 0% {      background-position: 100% 0%;    } */
    /* 35% {      background-position: 0% 50%;    } */
    /* 60% {      background-position: 50% 50%;    } */
    /* 100% {      background-position: 100% 0%;    } */
}
/* .vidbg{
    
} */
@media (max-width: 768px) {
    .landing {
        background-attachment: scroll;
    }

    .landing > div > h2 {
        font-size: 1.5em; 
    }
}