body{
    background-color: black;
}
#Navbar {
  
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0.69) 31%,rgba(226,226,226,0) 100%);
  color: white;
  font-family: 'Orbitron', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.nav-logo{
    border-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%) 1;
    border-bottom-width: 0.1rem;
    border-bottom-style: solid;
}
.nav-logo > p{font-family: 'Orbitron', sans-serif;}
.nav-logo img {
    width: 3.2rem;
}
.diagonal-div{
    width: 3rem;
}
.diagonal-div p {
   /* width: .009rem; */
   height: 100%;
   border-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%) 1;
   border-width: 0.01rem;
   border-style: solid;
    transform: rotate(45deg) scale(1.39);
    transform-origin: center;
}
.nav-items{
    border-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%) 1;
    border-top-width: 0.1rem;
    border-top-style: solid;
}
.nav-elements a{
    cursor: pointer;
}
.nav-elements a:hover{
background: -webkit-linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-toggle {
    font-family: 'Orbitron', sans-serif;
    position: fixed;
    top: 4rem;
    left: 0;
    right: 0;
    z-index: 10000;
    transform: translateY(0); /* Updated to keep the menu visible initially */
    transition: transform 0.5s ease;
    
  }
  
  .inner-nav-toggle {
    transform: translateX(15rem);
    transition: transform 0.5s ease;
  }
  
  .nav-toggle-vis {
    transform: translateX(-1rem);
    transition: transform 0.5s ease;
  }
  
  .nav-toggle div a {
    /* background-color: transparent; */
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0.69) 31%,rgba(226,226,226,0) 100%);
    border: 1px solid #aa00ff;
    color: white;
    border-radius: 1rem;
    font-size: 1.1rem;
    transition: ease-in-out 0.3s ;
  }
  .nav-toggle div a:hover{
    background-color:#aa00ff ;
    border: 1px solid hsla(0,0%,100%,.2);
    color: white;
    border-radius: 1rem;
    font-size: 1.1rem;
    transform: translateX(10px);
  }