.kh{
    overflow: hidden;
    background: url(./bgs.svg) no-repeat center center/ cover;
}
.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}
   
.responsive-iframe{
    border-radius: 16px;
    border: 2px solid cyan;
}

.des-key{
    font-family: 'Montserrat', sans-serif;
}
.key-hig-img{
    width: 40rem;
}
.key-main{
    font-family: 'Orbitron', sans-serif;
}

