

.contact-page * {
    padding: 0;
    margin: 0;
    color: #fff;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    border: none;
}

.contact-page body {
    background-color: black;
    width: 100%;
    height: 100vh;
    background-size: 100% 110vh;
    position: relative;
    background-repeat: no-repeat;
}

.contact-page header {
    position: absolute;
    text-align: center;
    width: 75%;
    left: 12%;
    top: 2rem;
}

.contact-page header h1 {
    font-size: 7.5vw;
}

.contact-page .empty {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1;
}

.contact-page .content {
    display: flex;
    min-height: 80vh;
}

.contact-page .content section {
    margin-top: 8vh;
    margin-left: 20vh;
}

.contact-page .content-form {
    margin-top: 7rem;
}

.contact-page section i {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    text-align: center;
}

.contact-page .form {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 50%;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
}

.contact-page .form .contact-form input {
    width: 30rem;
    background-color: transparent;
    border: 0px;
    border: transparent;
    margin: 20px;
    padding: 10px;
    font-size: 18px;
    border-bottom: 2px solid #fff;
}

.contact-page .form .contact-form input ~ span {
    position: absolute;
    left: 20px;
    transition: 0.9s ease-in-out;
    margin-top: 10px;
}

.contact-page .form .contact-form input:focus ~span {
    transform: translateY(-20px);
    pointer-events: none;
}

.contact-page .form .contact-form textarea {
    width: 30rem;
    border: 0px;
    background-color: transparent;
    margin: 20px;
    font-size: 17px;
    border-bottom: 2px solid white;
}

.contact-page .form .contact-form textarea ~ span {
    position: absolute;
    left: 20px;
    margin-top: 10px;
    transition: 0.9s ease-in-out;
}

.contact-page .form .contact-form textarea:focus ~span {
    transform: translateY(-20px);
    pointer-events: none;
}


.contact-page .form .contact-form input[type=submit] {
    background-color: dodgerblue;
    border: 2px solid dodgerblue;
    font-size: 18px;
    width: 50%;
    height: 40px;
    margin-top: -5px;
}

.contact-page .form .contact-form input[type=submit]:hover {
    background-color: transparent;
    color: dodgerblue;
}

.contact-page .media {
    position: absolute;
    top: 85vh;
    right: 20vh;
    display: flex;
    list-style: none;
}

.contact-page .media li {
    margin: 20px 30px;
}

@media screen and (max-width: 900px) {
    .contact-page body {
        background-repeat: repeat-y;
        overflow: auto;
    }

    .contact-page header {
        position: absolute;
        left: 0;
        top: 20%;
        width: 100%;
    }

    .contact-page .empty {
        height: 210vh;
    }
   

    .contact-page .form {
        position: relative;
        top: 0;
        margin-left: 10%;
    }

    .contact-page .content-form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0;
        margin-top: 53vh;
        margin-left: 10vh;
    }

    .contact-page .content section {
        margin-top: 0vh;
        margin-left: 0vh;
    }

    
}
