* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;

}

.main {
  background-color: #121212;
}

.container {
  width: 70%;
  margin: auto;
  color: white;
  overflow: hidden;
  padding: 0px auto;
}

.headContainer {
  margin: auto;
  margin-top: 80px;
  margin-bottom: 10px;
  padding: 14px;
  background: #5F9ED7;
  width: 100%;
}

.toc {
  margin: 0;
  background-color: #6D5D6E;
  border: 1px solid #aaa;
  display: table;
  font-size: 95%;
  margin-bottom: 1em;
  padding: 20px;
  width: auto;
}

.toc_title {
  font-size: 24px;
}

.toc_list {
  list-style-type: decimal;
  margin-bottom: 20px;
}

.toc_list li {
  padding: 10px 0 0 15px;
  color: #31b3fe;
  font-size: 14px;
}

.heading2 {
  vertical-align: middle;
  font-size: 26px;
  line-height: 20px;
  text-align: left;
  color: white;
  margin: 24px 0;

}

h1,
.para {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  color: white;
  margin: 0;
  padding: 0 0 10px 0;
  margin-bottom: 18px;
}

.heading1 {

  font-size: 46px;
  text-align: center;
  color: white;
  margin: auto;
  vertical-align: middle;

}