*{
  margin: 0;
  padding: 0;
}
.main{
  background-color: #121212;
}
.heading1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  text-align: left;
  color: white;
  margin: 0px;
  padding: 0 0 6px 0;
}
.headingTnC{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 26px;
  color: white;
  margin: 0px;
  padding: 0 0 6px 0;
}
.headContainer {
  margin: auto;
  margin-top: 80px;
  margin-bottom: 10px;
  padding: 14px;
  background: #5F9ED7;
  width: 100%;
}

.container {
  width: 70%;
  margin: auto;
  color: white;
  overflow: hidden;
  padding: 0px auto;
}

.heading2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-align: left;
  color: white;
  margin-bottom: 20px;
  margin: 0px 20px;
  padding: 20px 0 0 0;
}

.para {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  color: white;
  margin: 0px 80px;
  padding: 10px 0 0 0;
}

.italicPara {
  font-style: italic;
  color: #cbe9ff;
}